/* font import  */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;800&display=swap");
/* ------------ General Styles ---------------------- */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("./image/background-img.png");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Big Shoulders Display', cursive; }

/* ---------------------------------- header ---------------------------  */
/* -------------------menu  */
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 15px;
  overflow: visible;
  position: relative;
  z-index: 2; }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: black;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out; }
  #burger-menu span:before,
  #burger-menu span:after {
    content: ''; }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px; }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px; }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px; }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px; }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px; }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0; }

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out; }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 15%;
    background: rgba(0, 0, 0, 0.5); }
  #menu ul {
    padding: 0; }
  #menu li {
    list-style: none; }
  #menu a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.logo-vito {
  grid-column: 2/3;
  width: 70%; }

.carrito-icon {
  grid-column: 3/3;
  width: 40%;
  align-self: center; }

.barra-buscador {
  width: 90%;
  margin: 3%;
  border-radius: 20px;
  background-color: white;
  border: 1px solid white;
  padding: 1%;
  display: flex;
  justify-content: flex-end; }

.barra-buscador:hover {
  border: 1px solid #f3a998; }

.circulo {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #f3a998;
  margin-right: 5px; }

.lupa-buscador {
  margin-left: 6px;
  margin-top: 5px; }

.categorias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 10%;
  row-gap: 10%;
  margin-bottom: 8%; }
  .categorias div {
    width: 60%;
    justify-self: center;
    display: grid;
    padding: 5% 3% 0 3%;
    background-color: white;
    border-radius: 10px; }
    .categorias div img {
      width: 75%;
      height: 65px;
      justify-self: center;
      align-self: center; }
    .categorias div h4 {
      text-align: center;
      margin: 7%; }
  .categorias div:hover {
    width: 70%;
    border: #f3a998 1px solid;
    background-color: rgba(6, 6, 6, 0.41);
    opacity: 70%; }

.productos {
  margin-top: 15%; }

.producto-container {
  background-color: #fff;
  border-radius: 7%;
  padding: 8%;
  margin: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .producto-container .producto-titulo {
    font-weight: bold; }
  .producto-container .producto-imagen {
    width: 100%; }
  .producto-container .comprar {
    background-color: #f3a998;
    border: 0;
    width: 90%;
    height: 30px;
    border-radius: 30px; }
  .producto-container .comprar:hover {
    background-color: #ffc5b8; }

/*# sourceMappingURL=style.css.map */
